.cards {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-image: url("/img/sfondo.jpg");
    background-size: cover;
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 250px;
        border-radius: 50%;
        border: 10px solid #372238;
        height: 250px;
        text-align: center;
        background: linear-gradient(to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3));
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px,
        rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
        text-transform: uppercase;
        h1 {
            font-size: 0.8em;
        }
        h2 {
            font-size: 1.1em;
            color: #FB044F;
        }
        &:hover {
            background-color: #fff;
            transition: ease-in 0.5s;
            h2 {
                font-size: 1.2em;
                color: #FB044F;
            }
        }
    }
}